* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 120px 1fr 60px;
  height: 100vh;
}

.header {
  background-color: gray;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer {
  background-color: gray;
}
