* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 100px 1fr 60px 60px;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  font-size: 60px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.status {
  text-align: center;
}
.restart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  margin: 0 auto;
  width: 100px;
  height: 30px;
}
